<div class="container p-7 bg-gray-100 text-gray-800 text-sm">
  <h1 class="world__title border-b-2 mb-4 pb-2">Style News</h1>
  <div class="h2 text-green-500 pb-60">The Page is under construction</div>
</div>