<div class="bg-slate-900 text-white text-xs">
    <%= render 'shared/menu_content' %>
    <footer class="container mx-auto border-t border-slate-600 py-6">
        <div class="flex flex-col justify-center items-start">                 
            <p>&#169; 2023 Punfamm. <i>All Rights Reserved.</i></p>
            <div class="flex flex-wrap justify-start items-center">
                <p class="mr-3 my-1">Contact us</p>
                <p class="mr-3 my-1">Work with us</p>
                <p class="mr-3 my-1">Advertise</p>
                <p class="mr-3 my-1">Your AdChoices</p>
                <p class="mr-3 my-1">Privacy Policy</p>
                <p class="mr-3 my-1">Terms of Services</p>
                <p class="mr-3 my-1">Site Map</p>
                <p class="mr-3 my-1">Help</p>
                <p class="mr-3 my-1">Subscriptions</p>
            </div> 
        </div>   
    </footer>      
</div>