<header class="bg-slate-900">
    <div class="flex justify-center items-center">
        <%# <img src="/app/assets/images/punfamm-top-ads-space.png" alt="top=ads" /> %>
        <img class="top-ads" src="https://tpc.googlesyndication.com/simgad/18261020352462551901" alt="top=ads" />
    </div>
    <div class="container mx-auto bg-slate-900 flex items-center justify-between">
        <div class="text-white flex items-center justify-between">
            <div>hamburger</div>
            <div>logo</div>
            <div>world</div>
            <div>US Politics</div>
            <div>Business</div>
            <div>Health</div>
            <div>More</div>
        </div>
        <div class="text-white flex items-center justify-between">
            <div>Search Icon</div>
            <div>Login</div>    
        </div>
    </div>
</header>